<kendo-chart [transitions]="false" style="height: 95%;">
    <kendo-chart-series>
        <kendo-chart-title text="Memory used (MB)"></kendo-chart-title>
        <kendo-chart-series-item type="scatterLine" style="smooth" color="lightgreen" [data]="series" yField="memUsed" xField="time"
            [markers]="{ visible: false }">
        </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-y-axis>
        <kendo-chart-y-axis-item baseUnit="mb" baseUnitSteps="mb" title="{text: 'MB'}" min="0" [max]="maxY">
        </kendo-chart-y-axis-item>
    </kendo-chart-y-axis>
    <kendo-chart-x-axis>
        <kendo-chart-x-axis-item baseUnit="seconds" baseUnitSteps="seconds" [min]="min" [max]="max">
        </kendo-chart-x-axis-item>
    </kendo-chart-x-axis>
</kendo-chart>